span {
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: lightgray;
	border: 1px solid gray;
	margin: 10px;
	text-align: center;
}
div > span + span {
	color: blue;
}
div > div > span:nth-child(1) ~ span {
	font-weight: bold;
}
div > div > span:nth-child(1) + span {
	font-style: italic;
	color: orange;
}
/*
	1. css 에서의 주석처리
	
	2. 동위 선택자
		1) 선택자1 + 선택자2 : 선택자1 바로뒤에 위치하는 선택자2를 선택
		2) 선택자1 ~ 선택자2 : 선택자1 뒤에 오는 선택자2
*/