html, body {
	text-align: center;
}
.mainfr {
	display: inline-block;
	width: 760px;
	text-align: left;
}
.phidden {
	visibility: hidden;
}
.dlogo {
	background-image: url(../img/h1_join.gif);
	background-size: auto 20px;
	background-repeat: no-repeat;
	border-bottom: 2px solid gray;
}
H4 {
	color: #333333;
	margin-top: 50px;
	margin-bottom: 0px;
}
.inprofile {
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}
.ttl {
	display: inline-block;
	width: 117px;
	text-align: right;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
}
.input-right {
	display: inline-block;
	padding: 7px 0px 7px 22px;
}
.inputfr1 {
	display: inline-block;
	width: 438px;
	margin-left: 22px;
	margin-top: 5px;
	padding: 7px 0px;
}
.input1 {
	display: inline-block;
	padding: 0px 40px 0px 11px;
	width: 385px;
	height: 40px;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
	border: 1px solid lightgray;
}
.inputtext {
	display: inline-block;
	width: 223px;
	height: 40px;
	maxlength: 40;
	border: 1px solid lightgray;
	margin-right: 5px;
	font-size: 14pt;
}
.hf {
	display: inline-block;
	width: 110px;
	/* padding-top: 20px; */
}
.hintfr {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 50px;
	line-height: 100%;
}
.hint {
	display: flex;
	width: 120px;
	height: 20px;
	font-size: 8pt;
	color: #333333;
	line-height: 110%;
}
.hintbox {
	display: inline-block;
}
.idomain {
	padding-right: 10px;
	font-size: 14pt;
	color: #333333;
}
.btnbox {
	display: inline-block;
	text-align: center;
	width: 94px;
	height: 40px;
	background-color: #f35241;
	color: white;
	text-decoration: none;
	border-radius: 3px;
}
.btn {
	display: inline-block;
	margin-top: 9px;
}
.btn {
	display: inline-block;
	margin-top: 9px;
}
.golbaeng {
	display: inline-block;
	padding: 0px 1px;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
}
.mail {
	display: inline-block;
	width: 189px;
	height: 40px;
	padding: 0px 10px 0px 11px;
	border: 1px solid lightgray;
}
select.input1 {
	display: inline-block;
	width: 438px;
}
.radiofr {
	display: flex;
	position: relative;
	text-align: left;
	line-height: 10%;
	left: 117px;
	top: -22px;
	height: 28px;
}
#f, #m {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-top: -50px;
	/* margin-bottom: 0px!important; */
}
#o, #x {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-top: -20px;
	/* margin-bottom: 0px!important; */
}
#o {
	margin-left: 30px;
}
#m {
	margin-left: 30px;
}
#dg {
	margin-bottom: -15px!important;
	padding-bottom: 0px;
	height: 61px!important;
}
.rfr {
	display: inline-block;
	line-height: 100%;
}
label[for="gen"] {
	display: inline-block;
	margin-top: 20px;
}
label[for="ip"] {
	display: inline-block;
	margin-top: 20px;
}
input[name="phone"] {
	margin-top: 0px!important;
}
.dayIn {
	display: inline-block;
	width: 75px;
	height: 42px;
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.taginblock {
	display: inline-block;
}
.ttl2 {
	display: inline-block;
	width: 400px;
	text-align: center;
}
.mt1 {
	width: 100px;
	display: inline-block;
	margin-top: -20px;
}
.hr {
	border: 1px solid lightgray;
	margin-top: 50px;
}
.btnfr {
	text-align: right;
	margin-top: 20px;
}
